@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.project-page{
    padding-left: 7%;
    padding-right: 7%;
    font-family: "Poppins", sans-serif;
    margin-top:2%;
}
.projectTitle{
    font-size: 4rem;
    font-weight: 700;
}

.topBar{
    display: flex;
    justify-content: space-between;
    height : 10rem;
}